.card{
    height: 110px;
    width: 70px;
    position: relative;
    padding: 3px;
}
.cardSuit{
    height: 40px;
    width: 40px;
    background-image: url("/images/Card_Suits_Transparent_PNG_Clip_Art_Image.png");
    background-repeat:  no-repeat;
    background-position: 2px 1px;
    background-size: 200%;
    margin: auto; 
}
.cardSuit-diamonds{
    background-position: 2px 1px;
}
.cardSuit-spides{
    background-position: -41px 0px;
}
.cardSuit-clubs{
    background-position: 2px -42px;
}
.cardSuit-hearts{
    background-position: -41px -42px;
}

.card__body{
    display: block;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}

.placeWrap{
    position: static !important;
}
.place{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    width: 72px;
    height: 112px;
}

.block1 {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50px;
    top: 50px;
    border-radius: 50%;
    background: blue;
  }
